{/* aesthetics matter */}
.aesthetics-content {
  padding: 10rem 0rem 10rem; 
  text-align: right;
  width: 100vw;
}

.aesthetics-content__header {
  position: relative;
  line-height: 3.5rem;
  right: 6rem;
}

.aesthetics-content__info {
  position: relative;
  line-height: 1.8rem;
  right: 3rem;
}

{/* freedom */}
.information-content {
  padding: 10rem 0rem 10rem; 
  text-align: right;
}

.information-content__header {
  position: relative;
  line-height: 3.5rem;
  right: 8rem;
}

.information-content__info {
  position: relative;
  line-height: 1.8rem;
  right: 6rem;
}

{/* well crafted tools */}
.technology-content {
  padding: 10rem 0rem 10rem; 
  text-align: left;
}

.technology-content__header {
  position: relative;
  line-height: 3.5rem;
  left: 4rem;
}

.technology-content__info {
  position: relative;
  padding-top: 1rem;
  line-height: 1.8rem;
  left: 8rem;
}

{/* simplify the complex */}
.simplify-content {
  padding: 10rem 0rem 10rem; 
  text-align: left;
}

.simplify-content__header {
  position: relative;
  line-height: 3.5rem;
  left: 0rem;
}

.simplify-content__info {
  position: relative;
  padding-top: 1rem;
  line-height: 1.8rem;
  left: 2rem;
}
