{/* aesthetics matter */}
.beliefs-content {
  padding: 11rem 0rem 9rem; 
  left: 22.5rem;
  text-align: center;
  width: 100vw;
}

.beliefs-bottom-content {
  padding: 2.5rem 0 5rem; 
  text-align: center;
  width: 100vw;
}

.beliefs-bottom-content__header {
  position: relative;
  line-height: 3.5rem;
}
